.city_container{
  background-color: #EBF4FA;
  padding: 20px 0 20px 10px;
}

.cities{
  height: 30px;
  width: 140px;
  border: 2px solid #b9bbbb;
  border-radius: 7px;
  padding: 0 5px;
}

.days{
  display: flex;
}

.day_container{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.name{
  text-align: center;
  color: #b9bbbb;
}

.picture{
  margin-bottom: 20px;
}

.degrees{
  display: flex;
  justify-content: center;
}
.degrees > p{
  margin: 3px;
}

.down{
  color: #b9bbbb;
}
